<div class="container">
<form>
<div class="form-group">
<label for="ASIN code">ASIN code</label>
<input type="text" class="form-control" [(ngModel)]="pItemASIN"  id="pItemASIN" name= "pItemASIN"/>
</div>
</form>


      <section>
      <button class="btn btn-success"  (click)="intoitem()" (click)="openSnackBar()">Get Data from Amazon</button>
      </section>

      
<div *ngFor="let item of product">
      
      <div *ngFor="let at of item.ItemAttributes">
           <div ><h2>Title:</h2>{{at.Title}}</div>
           <div><span>Brand:</span>{{at.Brand}}</div>
           <div><span>Model:</span>{{at.Model}}</div>
           <div><span>Features:</span>{{at.Feature}}</div>
     </div>
     <div *ngFor="let offer of item.OfferSummary">
           <div *ngFor="let pt of offer.LowestNewPrice">
                 <div><span>Best Price:</span>{{pt.FormattedPrice}}</div>
                 
           </div>

     </div>
      <div><span>ASIN code:</span>{{item.ASIN}}</div>
     <div><span>Details page url:</span> {{item.DetailPageURL}}</div>

      <section>
      <button class="btn btn-success"  (click)="insertproduct()" (click)="openSnackBar()">Add to Database</button>
      </section>     
</div>
</div>

